[submodule "config/.vim/bundles/repos/github.com/Shougo/dein.vim"]
	path = config/.vim/bundles/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "config/.zplug"]
	path = config/.zplug
	url = https://github.com/zplug/zplug.git
