[user]
  name = chck
  email = deadline.is.today@gmail.com
[include]
  path = .gitconfig.local
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  filemode = true
[alias]
  co = checkout
  st = status -sb
  pr = pull --rebase
  fo = fetch origin
  ro = rebase origin
  rc = rebase --continue
  wd = diff --word-diff
  gp = grep -n
  lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
  c = commit -v
[push]
  default = simple
[branch]
  autosetuprebase = always
[pull]
  rebase = true
[ghq]
  root = ~/Works
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[url "git@gist.github.com:"]
  pushInsteadOf = https://gist.github.com/
  pushInsteadOf = git://gist.github.com/
[submodule]
  recurse = true
