" Swap ; for :, for US KeyBoard
"   normal node
nnoremap ; :
nnoremap : ;
nnoremap ' "
nnoremap " '
"   visual mode
vnoremap ; :
vnoremap : ;
vnoremap ' "
vnoremap " '
"   insert mode
inoremap ; :
inoremap : ;
inoremap ' "
inoremap " '

set visualbell                   " Turn off the bell sound
set noerrorbells                 " Same as above
